services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    environment:
      KJ_DATA_DIR: /data
      KJ_OLLAMA_URL: http://host.docker.internal:11434
      KJ_QDRANT_URL: http://host.docker.internal:6333
      KJ_LOG_LEVEL: INFO
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /home/slmar/katja:/data
